<!-- index.html -->
    <!DOCTYPE html>
    <html>
    <head>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

      <script src="../node_modules/angular/angular.min.js"></script>
      <script src="../node_modules/angular-route/angular-route.min.js"></script>
    </head>
    <body ng-app="gametracker">

        <header>
            <nav class="navbar navbar-default">
            </nav>
        </header>
        <div id="main" ng-controller="MainController">
          {{3+44}}
        </div>

    </body>
    <script src="../node_modules/dist/jquery.js"></script>
    <script src="../node_modules/bootstrap/js/bootstrap.min.js"></script>
    </html>